<ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
    <li [ngbNavItem]="1">
      <a ngbNavLink routerLink="myalbums" routerLinkActive="activebutton">My Albums</a>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink routerLink="search" routerLinkActive="activebutton">New Search</a>
    </li>
    <li [ngbNavItem]="3">
        <a ngbNavLink routerLink="favorites" routerLinkActive="activebutton">Favorites</a>
    </li>
    <li [ngbNavItem]="4">
      <a ngbNavLink routerLink="tagged" routerLinkActive="activebutton">Tagged</a>
    </li>
</ul>

<router-outlet></router-outlet>