<div class="card card-box">
    <img
        class="card-img-top img-cropped"
        alt="{{image.alt}}"
        src="{{image.url}}">
    
    <div class="card-body">
            <p class="card-title">
                <span style="font-weight:bold">{{image.author}}</span>
            </p>
            <p class="card-text" *ngIf=!emptyTags>
                <span *ngFor="let tag of image.tags" class="text-muted">{{tag.title}} </span>
            </p>
            <p class="card-text" *ngIf="emptyTags">
                <span class="text-muted">no-tags</span>
            </p>
            <a class="btn btn-primary" (click)="addToFavorites(image)">Add to Favorites</a>
    </div>


</div>