<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-4 text-center">
                    <img src="https://i.pinimg.com/originals/ce/c8/3e/cec83e352d54bd22dc6244918c3c0238.jpg" class="rounded-circle" width="150" height="150">
                </div>
                <div class="col-8">
                    <br>
                    <h3>Mr. Gato</h3>
                    <h5>Some profile statistics</h5>
                    <button type="button" class="btn btn-secondary btn-sm">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
    <app-nav></app-nav>
</div>
